$top: #333;
$side: #444;
$side-current: $top;
$large: 1.5em;

$color: mediumseagreen;

html { overflow: hidden; };
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

$side-width: 260px;
div.side {
  $font-color: white;
  background-color: $side;
  width: $side-width;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  .logo {
    font-size: $large;
    padding: 20px;
    background-color: mediumseagreen;
    color: $font-color;
    font-weight: 200;
    letter-spacing: 2px;
  }

  a {
    color: $font-color;
    text-decoration: none;
    font-size: 1.1em;
    letter-spacing: 1px;
    display: block;
    padding: 10px 20px;
    opacity: .5;
    transition: opacity .15s;

    &:hover{
      opacity: 1;
    }
    &.current{
      opacity: 1;
      background-color: $side-current;
    }

    img {
      vertical-align: middle;
      width: 32px;
      margin-right: 15px;
    }
  }
}

div.content{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: $side-width;
  padding: 0 15px;
  background-color: whitesmoke;

  .center{
    max-width: 900px;
    margin: 40px auto;
  }

  .part {
    $padding: 20px;
    background-color: white;
    padding: $padding;
    float: left;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 15px;
    color: #333;

    &.skinny{
      padding: 0;
    }
    &.clear-left{
      clear: left;
    }
    .top {
      text-align: center;
      padding: ($padding / 2) $padding;
      border-bottom: 1px solid lightgray;
    }
    .bottom {
      text-align: center;
      padding: ($padding / 2) $padding;

      &.num{
        font-size: 5em;
        font-weight: 400;
        letter-spacing: -5px;
      }
    }

    table{
      border-collapse: collapse;
    }

    th {
      padding: 15px;
      font-weight: normal;
      border-bottom: 1px solid lightgray;
    }
    td + td, th + th {
      border-left: 1px solid lightgray;
    }
    td.num {
      text-align: center;
      padding: ($padding / 2) $padding;
      font-size: 5em;
      font-weight: 400;
      letter-spacing: -5px;
    }
  }

  input{
    font-family: inherit;
    font-weight: 300;
    padding: 10px;
    font-size: $large;
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
  }

  button {
    background-color: $color;
    color: white;
    border: none;
    font-size: 1.1em;
    font-weight: 200;
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
  }

  button#send {
    margin-left: 20px;
  }
}
